<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ArticleDao">

    <select id="getAll" resultType="com.entity.article.Article">
        select code, name, notice, price, images, category, mezz from article order by code
    </select>

    <update id="update">
     update article
<!--      <set>-->
<!--          <if test="#{shop.name} != null">-->
<!--              name=#{shop.name},-->
<!--          </if>-->
<!--      </set>-->
      set name=#{shop.name},notice=#{shop.notice},price=#{shop.price},images=#{shop.images},category=#{shop.category},mezz=#{shop.mezz} where code=#{shop.code}
 </update>

    <insert id="add">
        insert into article (code,name, notice, price, images, category, mezz) values (#{code},#{name},#{notice},#{price},#{images},#{category},#{mezz});
    </insert>

    <select id="getById" resultType="com.entity.article.Article">
        select code, name, notice, price, images, category, mezz from article where code=#{code}
    </select>

    <delete id="delete">
        delete from article where code=#{code}
    </delete>
</mapper>